/*
  	mkhatvrulia icon font: mkhatvrulia
  	Creation date: 10/09/2018 08:41
  	*/
@font-face {
  font-family: "mkhatvrulia";
  src: url("../fonts/mkhatvrulia/mkhatvrulia.otf");

  font-weight: normal;
  font-style: normal;
}
